<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

  <%= render(:partial => "followlist") %>
  </aside>

  <div class="col-md-8">
    <ol class="follow">
        <% if @follower.any? %>
            <% @follower.each do |follower| %>
                <li><%= gravatar_for follower, size: 50 %>
                    <span class="user"><%= link_to follower.name, follower %></span>
                </li>
            <% end %>
        <% else %>
            <li>フォローはいません</li>
        <% end %>
    </ol>
  </div>

</div>

