<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<p><%= @user.name %></p>
<p><%= @user.area %></p>
<p><%=  simple_format(@user.profile) %></p>
<p><%= @user.email %></p>

<% if logged_in? %>
<hr>
<p><%= link_to "プロフィールを編集", edit_user_path(current_user) %></p>
<% end %>

  <p>views/users/show.html.erb</p>