<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        

    </section>
    <section>
      <div class="col-md-4 follow">
        <p><small>ツイート</small>：<%= @user.microposts.count %></p>
        <p><small>フォロー</small>：<%= link_to @follower.count, followings_user_path(@user) %></p>
        <p><small>フォロワー</small>：<%= link_to @followed.count, followers_user_path(@user) %></p>
      </div>  
        
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  
  </div>
</div>

<hr>

<% if logged_in? %>
<p><%= link_to "プロフィールを編集", edit_user_path(current_user) %></p>
<hr>
<% end %>

<p>views/users/show.html.erb</p>

